<html lang="ru">
<head>
    <title>shared PI poem</title>
</head>
<body>
<p id="poem">{{ poem }}</p>
<input type="text" id="symbol" maxlength="1">
<button onclick="papa()">send some</button>

<script>
    const chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/add_symbol');

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data['symbol'];
        document.querySelector('#poem').innerHTML += (message);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    papa = function (e) {
        const symbol = document.querySelector('#symbol').value
        if (symbol.length !== 1) {
            console.log('do not cheat');
            return
        }

        chatSocket.send(JSON.stringify({
            'symbol': symbol
        }));
    };
</script>
</body>
</html>