<html lang="ru">
<head>
    <title>shared PI poem</title>
</head>
<body>
<textarea id="poem">{{ poem }}</textarea>
<input type="text" id="symbol">
<button onclick="papa()">send some</button>

<script>
    const chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/add_symbol');

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data['symbol'];
        document.querySelector('#poem').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    papa = function (e) {
        chatSocket.send(JSON.stringify({
            'symbol': document.querySelector('#symbol').value
        }));
    };
</script>
</body>
</html>